<%= form_with(model: equipe, local: true) do |form| %>
  <% if equipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipe.errors.count, "error") %> prohibited this equipe from being saved:</h2>

      <ul>
      <% equipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>
  
  <div class="field">
    <%= form.label :foto %>
    <%= form.text_field :foto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
