<nav class="nav-bar">
    <ul class="nav-list " id="nav">
    	<li><a> <%= link_to "home", menu_home_path %></a></li>
    	<li><a> <%= link_to "sobre", menu_sobre_path %></a></li>
    	<li><a> <%= link_to "instituicao", menu_instituicao_path %></a></li>
        <li><a> <%= link_to "quemsomos", menu_quemsomos_path %></a></li>
        <li><a> <%= link_to "contato", menu_contato_path %></a></li>
        <li><a> <%= link_to "souinstituicao", menu_souinstituicao_path %></a></li>
    </ul>
</nav>
