<nav class="menu">
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Instituições", instituicoes_path %></li>
        <li><%= link_to "Sobre", sobre_path %></li>
        <li><%= link_to "Quem Somos", quem_somos_path %></li>
        <li><%= link_to "Contato", contato_path %></li>
        <li><%= link_to "Sou Instituição", sou_instituicao_path %></li>
    </ul>
</nav>